<ion-header>
  <ion-toolbar>
    <ion-title>Aplikacja monitor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <Spo2-chart></Spo2-chart>
  <app-et-c02-chart></app-et-c02-chart>
  <app-ekg-chart></app-ekg-chart>
  <ion-grid>
    <div>
    </div>
    <div>
      Stoper: <app-stoper></app-stoper>
    </div>
    <div>
      Zegar: {{ myDate | date: "dd/MM/yyy HH:mm:ss"}}
    </div>
    <ion-row *ngFor="let item of variables; index as i">
      <!-- <ion-col size="1">{{ i+ 1 }}</ion-col>
      <ion-col size="3"> {{ item.name }}</ion-col>
      <ion-col size="3"> {{ item.company }}</ion-col> -->
      <div *ngIf="item.temperature">
        Temperatura: {{ item.temperature }}
      </div>
      <div *ngIf="item.heartAction">
        Akcja serca: {{ item.heartAction }}
      </div>
      <div *ngIf="item.energyChoosen">
        Wybór Energii: {{ item.energyChoosen }}
      </div>
      <div *ngIf="item.so2">
        SO2: {{ item.so2 }}
      </div>
      <div *ngIf="item.charging">
        Ładowanie: {{ item.charging }}
      </div>
      <div *ngIf="item.etc02">
        ETc02: {{ item.etc02 }}
      </div>
      <div *ngIf="item.discharge">
        Wyładowanie: {{ item.discharge }}
      </div>
      <div *ngIf="item.pressure">
        Ciśnienie: {{ item.pressure }}
      </div>
      <div *ngIf="item.ekg12">
        EKG12: {{ item.ekg12 }}
      </div>
      <div *ngIf="item.medicalStudies">
        Badania: {{ item.medicalStudies }}
      </div>
      <div *ngIf="item.breathNumber">
        Liczba oddechów: {{ item.breathNumber }}
      </div>
      <div *ngIf="item.synchronization">
        Synchronizacja: {{ item.synchronization }}
      </div>
    </ion-row>

  </ion-grid>



</ion-content>